.chatInput {
  padding: 10px 16px;

  box-sizing: content-box;
  max-height: 60px;
  overflow-y: auto;

  border: 1px solid #A19F9D;
  border-radius: 4px;

  line-height: 20px;
  font-size: 15px;
}

[contenteditable]:empty::before{
  content: attr(placeholder);
  pointer-events: none;
  color: #A19F9D;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.actionsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconContainer {
  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  
  cursor: pointer;
}

.attachIcon {
  background-color: #201F1E0A;
}