.innerMessageContainer {
  position: relative;
  max-width: fit-content;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #F3F3F3;
}

.myMessage {
  background-color: #407EC929;
}

.messageText {
  line-height: 20px;
  font-size: 15px;
}
