.chatItem {
  position: relative;
  height: 72px;
  padding: 12px 16px;
  display: grid;
  gap: 16px;
  grid-template-columns: 48px auto;

  cursor: pointer;

  &--selected {
    background-color: #407EC914;
  }

  &:hover {
    background-color: #201F1E0A;
  }

  &--selected:hover {
    background-color: #407EC914;
  }
}

.chatData {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: stretch;
  line-height: 20px;
  font-size: 15px;
}

.chatTopRow {
  display: grid;
  grid-template-columns: auto 34px;
  align-items: center;
}

.chatTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chatLastMsg {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;

  color: #605E5C;
}
