.messageContainer {
  padding: 0 24px;
  display: grid;
  grid-template-columns: 32px fit-content(470px);
  gap: 8px;

  &--my {
    align-self: flex-end;
  }
}

.nameAndTextContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.shiftedTop {
  margin-top: -8px;
}
