.messageContainer {
  display: grid;
  grid-template-columns: 32px 470px;
  gap: 8px;

  &--my {
    margin-left: auto;
  }
}

.nameAndTextContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}